.footer-social-networks {
    display: flex;

    &__item {
        display: flex;
        align-items: center;
        padding-left: 37px;

        &:first-child {
            border-left: solid 1px #c3c3c3;

            @media (max-width: 1170px) {
                padding-left: 0;
                border-left: none;
            }
        }

        @media (max-width: 470px) {
            padding-left: 15px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #fff;

        @media (max-width: 470px) {
            font-size: 11px;
            line-height: 14px;
        }
    }

    &__text {
        margin-left: 10px;
    }
}